* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerLogo {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
  overflow-y: auto;
}

header {
  background-color: #ee82ee;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

nav {
  background-color: #ee82ee;
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
}

footer div {
  max-height: 25px;
}
